<div class="container">
    <div class="header">
        <button (click)="goHome()" class="home-button">Home</button>
        <button (click)="goDisplayUsers()" class="users-button">Display Users</button>
        <h2 class="user-details-title">User Details</h2>
    </div>
  
    <div class="content">
        <table>
            <tr>
                <th class="label">Name</th>
                <td *ngIf="!isEditing.name">{{ user?.name }}</td>
                <td *ngIf="isEditing.name">
                    <input [(ngModel)]="editableData.name" class="edit-input" />
                </td>
                <td class="table-actions">
                    <button *ngIf="!isEditing.name" (click)="editUser('name')" class="edit-button">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th class="label">Surname</th>
                <td *ngIf="!isEditing.surname">{{ user?.surname }}</td>
                <td *ngIf="isEditing.surname">
                    <input [(ngModel)]="editableData.surname" class="edit-input" />
                </td>
                <td class="table-actions">
                    <button *ngIf="!isEditing.surname" (click)="editUser('surname')" class="edit-button">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th class="label">Gender</th>
                <td *ngIf="!isEditing.gender">{{ user?.gender }}</td>
                <td *ngIf="isEditing.gender">
                    <input [(ngModel)]="editableData.gender" class="edit-input" (ngModelChange)="validateGender()" />
                    <div *ngIf="genderError" class="error-message">Error: Invalid gender</div>
                </td>
                <td class="table-actions">
                    <button *ngIf="!isEditing.gender" (click)="editUser('gender')" class="edit-button">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button *ngIf="isEditing.gender" class="edit-button">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th class="label">Birth Date</th>
                <td>{{ user?.birthDate }}</td>
                <td class="table-actions">
                    <button class="edit-button disabled">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th class="label">Work Address</th>
                <td>{{ getAddress(user, 'work') }}</td>
                <td class="table-actions">
                    <button class="edit-button disabled">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th class="label">Home Address</th>
                <td>{{ getAddress(user, 'home') }}</td>
                <td class="table-actions">
                    <button class="edit-button disabled">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
        </table>
        
        <div class="actions-container" *ngIf="isEditingAny">
            <button (click)="saveChanges()" class="save-button">Save</button>
            <button (click)="cancelEdit()" class="cancel-button">Cancel</button>
        </div>
    </div>
  </div>
  