<div *ngIf="users">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th>Birth Date</th>
        <th>Work Address</th>
        <th>Home Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.birthDate }}</td>
        <td>
          <ng-container *ngFor="let address of user.addresses">
            <span *ngIf="address.type === 'work'">{{ address.address }}</span>
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let address of user.addresses">
            <span *ngIf="address.type === 'home'">{{ address.address }}</span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
