<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name" type="text" style="padding: 5px; border-radius: 5px; 
            border: 1px solid #ccc; margin-bottom: 10px;"/>
  </div>
  <div>
    <label for="surname">Surname:</label>
    <input id="surname" formControlName="surname" type="text" style="padding: 5px; border-radius: 5px; 
            border: 1px solid #ccc; margin-bottom: 10px;"/>
  </div>
  <div>
    <label for="gender">Gender:</label>
    <select id="gender" formControlName="gender" style="padding: 5px; border-radius: 5px; 
            border: 1px solid #ccc; margin-bottom: 10px;">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div>
  <label for="birthDate">Birth Date:</label>
  <div class="date-picker-container">
    <input id="birthDate" type="text" style="padding: 5px; border-radius: 5px; 
            border: 1px solid #ccc; margin-bottom: 10px;" formControlName="birthDate" autocomplete="off" bsDatepicker [bsConfig]="bsConfig" #dp="bsDatepicker"/>
    <i class="calendar-icon" (click)="showDatepicker(dp)">📅</i>
  </div>
  </div>
  <div>
    <label for="workAddress">Work Address:</label>
    <input id="workAddress" formControlName="workAddress" type="text" style="padding: 5px; border-radius: 5px; 
            border: 1px solid #ccc; margin-bottom: 10px;" />
  </div>
  <div>
    <label for="homeAddress">Home Address:</label>
    <input id="homeAddress" formControlName="homeAddress" type="text" style="padding: 5px; border-radius: 5px; 
            border: 1px solid #ccc; margin-bottom: 10px;" />
  </div>
  <button type="submit">Register</button>
</form>
