<div class="container">
  <div class="header">
    <button (click)="goHome()" class="home-button">Home</button>
    <h2 class="page-title">Register</h2>
  </div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <div class="input-container">
      <input 
        id="name" 
        formControlName="name" 
        type="text" 
        [ngClass]="{'invalid': isFieldInvalid('name')}" 
        style="padding: 5px; border-radius: 5px; border: 1px solid; margin-bottom: 10px;" />
      <div *ngIf="isFieldInvalid('name')" class="error-message">Invalid value</div>
    </div>
  </div>
  <div>
    <label for="surname">Surname:</label>
    <div class="input-container">
      <input 
        id="surname" 
        formControlName="surname" 
        type="text" 
        [ngClass]="{'invalid': isFieldInvalid('surname')}" 
        style="padding: 5px; border-radius: 5px; border: 1px solid; margin-bottom: 10px;" />
      <div *ngIf="isFieldInvalid('surname')" class="error-message">Invalid value</div>
    </div>
  </div>
  <div>
    <label for="gender">Gender:</label>
    <div class="input-container">
      <select 
        id="gender" 
        formControlName="gender" 
        [ngClass]="{'invalid': isFieldInvalid('gender')}" 
        style="padding: 5px; border-radius: 5px; border: 1px solid; margin-bottom: 10px;">
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <div *ngIf="isFieldInvalid('gender')" class="error-message">Invalid value</div>
    </div>
  </div>
  <div>
    <label for="birthDate">Birth Date:</label>
    <div class="input-container">
      <input 
        id="birthDate" 
        type="text" 
        formControlName="birthDate" 
        autocomplete="off" 
        bsDatepicker
        [bsConfig]="bsConfig" 
        #dp="bsDatepicker"
        [ngClass]="{'invalid': isFieldInvalid('birthDate')}" 
        style="padding: 5px; border-radius: 5px; border: 1px solid; margin-bottom: 10px;" />
      <i class="calendar-icon" (click)="showDatepicker(dp)">📅</i>
      <div *ngIf="isFieldInvalid('birthDate')" class="error-message">Invalid value</div>
    </div>
  </div>
  <div>
    <label for="workAddress">Work Address:</label>
    <div class="input-container">
      <input 
        id="workAddress" 
        formControlName="workAddress" 
        type="text" 
        [ngClass]="{'invalid': isFieldInvalid('workAddress')}" 
        style="padding: 5px; border-radius: 5px; border: 1px solid; margin-bottom: 10px;" />
      <div *ngIf="isFieldInvalid('workAddress')" class="error-message">Invalid value</div>
    </div>
  </div>
  <div>
    <label for="homeAddress">Home Address:</label>
    <div class="input-container">
      <input 
        id="homeAddress" 
        formControlName="homeAddress" 
        type="text" 
        [ngClass]="{'invalid': isFieldInvalid('homeAddress')}" 
        style="padding: 5px; border-radius: 5px; border: 1px solid; margin-bottom: 10px;" />
      <div *ngIf="isFieldInvalid('homeAddress')" class="error-message">Invalid value</div>
    </div>
  </div>
  <button type="submit">Register</button>
</form>
